.Landscape-PhotoViewer {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.Landscape-PhotoViewer img {
  border-radius: 1vmin;
  max-height: 98%;
  max-width: 98%;
  transition:
    filter 0.7s ease,
    opacity 0.7s
  ;
}

.Landscape-PhotoViewer img.Landscape-PhotoViewer-initial {
  filter: blur(100px);
  opacity: 0;
}