.Landscape-RefreshablePanel {
  position: relative;
}

.Landscape-RefreshablePanel-indicator {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 0.5vmin;
  color: rgb(240, 240, 240);
  cursor: pointer;
  font-size: 150%;
  height: 1em;
  line-height: 1em;
  margin: 1vmin;
  opacity: 0;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  transition:
    opacity 0.2s,
    transform 0.2s
  ;
  user-select: none;
  width: 1em;
}

.Landscape-RefreshablePanel:hover .Landscape-RefreshablePanel-indicator {
  opacity: 1;
}

.Landscape-RefreshablePanel-indicator:hover {
  transform: scale(1.125);
}

.Landscape-RefreshablePanel-indicator:active {
  transform: scale(1.1);
}