.Landscape-InputTable {
  margin-right: 2em;
}

.Landscape-InputTable h3 {
  margin-bottom: 0;
}

.Landscape-InputTable input,
.Landscape-InputTable select {
  background-color: rgba(255, 255, 255, 0.9);
  border: 0.1em solid rgba(0, 120, 240, 0.5);
  border-radius: 0.5em;
  margin-left: auto;
  margin-right: auto;
  transition:
    background-color 0.2s,
    border-color 0.2s
  ;
  width: 90%;
}

.Landscape-InputTable input:not(:active):not(:focus),
.Landscape-InputTable select:not(:active):not(:focus) {
  background-color: transparent;
  border-color: transparent;
}

.Landscape-InputTable > .Landscape-InputTable-table-body > .Landscape-InputTable-table-row + .Landscape-InputTable-table-row {
  border-top: 0.05em dotted rgba(0, 0, 0, 0.2);
}

.Landscape-InputTable-table-row-controls {
  position: absolute;
  right: 0;
  width: 1.5em;
}
