.Landscape-FlyoutPanel {
  display: inline-block;
  outline: none;
}

.Landscape-FlyoutPanel-contents {
  background-color: rgba(240, 240, 240, 0.8);
  max-width: 100vw;
  position: fixed;
}

.Landscape-FlyoutPanel-contents:not(.Landscape-visible) {
  display: none;
}

.Landscape-FlyoutPanel-switch {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 0.125vmin;
  color: rgb(140, 140, 140);
  cursor: pointer;
  display: inline-block;
  font-size: 80%;
  outline: none;
  padding: 0.4em 0.8em;
  text-shadow: 0.04em 0.04em rgba(255, 255, 255, 0.5);
  transition:
    background-color 0.2s,
    color 0.2s,
    transform 0.2s
  ;
  user-select: none;
  /* TODO: Remove vendor prefixes */
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}

.Landscape-FlyoutPanel-switch.Landscape-compact {
  padding: 0.2em 0.4em;
}

.Landscape-FlyoutPanel-switch:hover {
  background-color: rgba(240, 240, 240, 0.9);
  transform: scale(1.125);
}

.Landscape-FlyoutPanel-switch:active,
.Landscape-FlyoutPanel-switch.Landscape-active {
  background-color: rgba(236, 236, 236, 0.9);
  color: rgb(120, 120, 120);
  transform: scale(1.1);
}

.Landscape-FlyoutPanel-switch-symbol {
  font-size: 65%;
  padding-left: 0.4em;
  padding-right: 0.4em;
}