.Landscape-Window {
  outline: transparent none;
  overflow: hidden;
  position: absolute;
  transition:
    box-shadow 0.2s,
    opacity 0.2s,
    outline-color 0.2s,
    transform 0.1s
  ;
}

.Landscape-Window:hover {
  box-shadow: 0 0.2em 0.2em rgba(40, 40, 40, 0.05);
}

.Landscape-Window:focus {
  box-shadow: 0 0.2em 0.2em rgba(40, 40, 40, 0.1);
}

.Landscape-Window:not(.Landscape-visible) {
  display: none;
}

.Landscape-Window.Landscape-moving {
  opacity: 0.2;
  outline: rgba(20, 180, 240, 0.5) double 0.2em;
}

.Landscape-Window.Landscape-inactive {
  opacity: 0;
  transform: scale(0.9);
}

.Landscape-Window-contents {
  background-color: rgba(240, 240, 240, 0.95);
  min-width: 10vw;
  max-height: calc( 100vh - (1em + 0.1vmin + 0.1vmin) ) /* :root(height) - .Landscape-Window-title-bar(height + padding-top + padding-bottom) */;
  max-width: 100vw;
  overflow: auto;
  resize: both;
  transition:
    max-height 1s,
    max-width 1s,
    opacity 1s
  ;
}

.Landscape-Window.Landscape-Window-minimized .Landscape-Window-contents {
  max-height: 0;
  max-width: 0;
  opacity: 0;
}

.Landscape-Window-contents:not(.Landscape-visible) {
  display: none;
}

.Landscape-Window-status-indicator {
  background-color: transparent;
  flex: none;
  margin-right: 0.5em;
  transition: background-color 0.2s;
  width: 0.5em;
}
.Landscape-Window:hover .Landscape-Window-status-indicator {
  background-color: rgba(200, 200, 200, 0.5);
}
.Landscape-Window:focus .Landscape-Window-status-indicator {
  background-color: rgb(120, 180, 220, 0.5);
}

.Landscape-Window-title {
  flex: auto;
  font-variant: small-caps;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.Landscape-Window-title-bar {
  background-color: rgba(255, 255, 255, 0.95);
  background-image: linear-gradient(
    transparent,
    rgba(224, 224, 224, 0.125) 60%,
    rgba(224, 224, 224, 0.25) 80%,
    rgba(224, 224, 224, 0.5) 100%
  );
  cursor: move;
  display: flex;
  padding: 0.1vmin;
  transition: transform 0.2s;
  /* TODO: Remove vendor prefixes */
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.Landscape-Window-title-bar-button {
  border-radius: 50%;
  color: rgb(80, 80, 80);
  cursor: pointer;
  flex: none;
  font-size: 80%;
  height: 1em;
  text-align: center;
  transition:
    background-color 0.2s,
    color 0.2s,
    opacity 0.2s,
    text-shadow 0.2s,
    transform 0.2s
  ;
  width: 1em;
}

.Landscape-Window-title-bar:not(:hover) .Landscape-Window-title-bar-button {
  opacity: 0;
}

.Landscape-Window-title-bar-button:hover {
  background-color: rgba(180, 180, 180, 0.5);
  color: rgb(248, 248, 248);
  text-shadow: 0.02em 0.02em rgba(20, 20, 20, 0.5);
  transform: scale(1.125);
}

.Landscape-Window-title-bar-button:active,
.Landscape-Window-title-bar-button.Landscape-active {
  background-color: rgba(255, 255, 255, 0.95);
  color: rgb(20, 180, 240);
  text-shadow: 0.02em 0.02em rgba(20, 20, 20, 0.5);
  transform: scale(1.1);
}