/*
        …[  [ … [    [[∞]]    ] … ]  ]…
      Landscape – Dark Interface Theme
    – designed by Nate Gehringer ◦ © 2017 –
  <https://backwater.systems> <ngehringer@gmail.com>
        …[  [ … [    [[∞]]    ] … ]  ]…
*/


/* .Landscape */

.Landscape.Landscape-dark {
  background-color: rgb(20, 2, 24);
  color: rgb(200, 200, 200);
}


/* <button> */

.Landscape-dark button {
  background-color: rgba(40, 40, 40, 0.9);
  color: rgb(90, 90, 90);
  text-shadow: 0.04em 0.04em rgba(70, 70, 70, 0.8);
}

.Landscape-dark button:hover {
  background-color: rgba(45, 45, 45, 0.95);
}

.Landscape-dark button:active {
  background-color: rgba(50, 50, 50, 0.975);
  color: rgb(96, 96, 96);
}

.Landscape-dark button.Landscape-accent {
  background-color: rgba(40, 4, 48, 0.95);
  color: rgb(150, 150, 150);
}

.Landscape-dark button.Landscape-accent:hover {
  background-color: rgba(50, 5, 60, 0.95);
}

.Landscape-dark button.Landscape-accent:active {
  background-color: rgba(60, 6, 72, 0.95);
  color: rgb(180, 180, 180);
}


/* <table> */

.Landscape-dark table {
  background-color: rgba(30, 30, 30, 0.8);
  border-color: rgba(80, 80, 80, 0.5);
  color: rgb(120, 120, 120);
}

.Landscape-dark table th {
  color: rgb(140, 140, 140);
}

.Landscape-dark table tbody tr {
  border-bottom-color: rgba(70, 70, 70, 0.5);
  border-top-color: rgba(70, 70, 70, 0.5);
}

.Landscape-dark table tbody tr:nth-child(odd) {
  background-color: rgba(220, 220, 220, 0.05);
}

.Landscape-dark table tbody tr:hover {
  background-image:
    linear-gradient(
      rgba(24, 42, 55, 0.42) 20%,
      rgba(24, 42, 55, 0.4) 40%,
      rgba(24, 42, 55, 0.4) 60%,
      rgba(24, 42, 55, 0.42) 80%
    ),
    linear-gradient(
      135deg,
      rgba(0, 24, 0, 0.01) 20%,
      rgba(0, 22, 0, 0.02),
      rgba(0, 24, 0, 0.01) 80%
    ),
    linear-gradient(
      45deg,
      rgba(0, 0, 24, 0.01) 20%,
      rgba(0, 0, 22, 0.02),
      rgba(0, 0, 24, 0.01) 80%
    )
  ;
}

.Landscape-dark table tbody td:not(:first-of-type) {
  border-left: 0.08em solid rgba(180, 180, 180, 0.2);
}
.Landscape-dark table tbody td:not(:last-of-type) {
  border-right: 0.08em solid rgba(180, 180, 180, 0.2);
}

.Landscape-dark table thead tr {
  background-color: rgba(100, 100, 100, 0.05);
}


/* .Landscape-box */

.Landscape-dark .Landscape-box {
  box-shadow: 0.2vmin 0.2vmin 0.15vmin rgba(150, 150, 150, 0.35);
}


/* .Landscape-menu */

.Landscape-dark ul.Landscape-menu li {
  background-color: rgba(100, 100, 100, 0.2);
}

.Landscape-dark ul.Landscape-menu:hover li {
  background-color: rgba(120, 120, 120, 0.2);
}

.Landscape-dark ul.Landscape-menu li:not(.Landscape-inactive):hover {
  background-color: rgba(150, 150, 150, 0.2);
  color: rgb(90, 90, 90);
}

.Landscape-dark ul.Landscape-menu li:not(.Landscape-inactive):active {
  background-color: rgba(80, 80, 80, 0.4);
  color: rgb(180, 180, 180);
}

.Landscape-dark ul.Landscape-menu .Landscape-menu-heading {
  background-color: rgba(220, 220, 220, 0.1);
  color: rgb(120, 120, 120);
  text-shadow: 0.1em 0.1em rgba(70, 70, 70, 0.8);
}


/* .Landscape-modal-overlay */

.Landscape-dark .Landscape-modal-overlay {
  background-color: rgba(20, 20, 20, 0.5);
}


/* .Landscape-section-heading */

.Landscape-dark .Landscape-section-heading {
  color: rgb(120, 120, 120);
  text-shadow: 0.02em 0.02em rgba(70, 70, 70, 0.8);
}


/* .Landscape-surface */

.Landscape-dark .Landscape-surface {
  background-color: rgba(80, 80, 80, 0.5);
}


/* .Landscape-FlyoutPanel */

.Landscape-dark .Landscape-FlyoutPanel-contents {
  background-color: rgba(20, 20, 20, 0.8);
}

.Landscape-dark .Landscape-FlyoutPanel-switch {
  background-color: rgba(40, 40, 40, 0.8);
}

.Landscape-dark .Landscape-FlyoutPanel-switch:hover {
  background-color: rgba(20, 20, 20, 0.8);
}


/* .Landscape-ToastNotifier */

.Landscape-dark .Landscape-ToastNotifier-close-button:active,
.Landscape-dark .Landscape-ToastNotifier-close-button.Landscape-active {
  background-color: rgba(20, 20, 20, 0.95);
  color: rgb(100, 10, 120);
  text-shadow: 0.02em 0.02em rgba(80, 80, 80, 0.5);
}

.Landscape-dark .Landscape-ToastNotifier-notification {
  background-color: rgba(30, 30, 30, 0.9);
  color: rgb(150, 150, 150);
}


/* .Landscape-TabGroup */

.Landscape-dark .Landscape-TabGroup .Landscape-TabGroup-tab {
  border-color: rgba(90, 90, 90, 0.5);
  color: rgb(120, 120, 120);
}

.Landscape-dark .Landscape-TabGroup .Landscape-TabGroup-tab:hover {
  border-color: rgba(70, 70, 70, 0.5);
}

.Landscape-dark .Landscape-TabGroup .Landscape-TabGroup-tab:active,
.Landscape-dark .Landscape-TabGroup .Landscape-TabGroup-tab.Landscape-TabGroup-active {
  border-color: rgba(60, 6, 72, 0.95);
  color: rgb(150, 150, 150);
  text-shadow: -0.05em 0.025em 0.025em rgba(70, 70, 70, 0.8);
}


/* .Landscape-Table */

.Landscape-dark .Landscape-Table {
  background-color: rgba(220, 220, 220, 0.2);
}

.Landscape-dark .Landscape-Table-table {
  background-color: rgba(30, 30, 30, 0.8);
  border-color: rgba(80, 80, 80, 0.5);
  color: rgb(120, 120, 120);
}

.Landscape-dark .Landscape-Table-table-header + .Landscape-Table-table-body {
  border-top-color: rgba(70, 70, 70, 0.5);
}

.Landscape-dark .Landscape-Table-table-body .Landscape-Table-table-cell:not(:first-of-type) {
  border-left-color: rgba(70, 70, 70, 0.5);
}
.Landscape-dark .Landscape-Table-table-body .Landscape-Table-table-cell:not(:last-of-type) {
  border-right: 0.08em solid rgba(80, 80, 80, 0.5);
}

.Landscape-dark .Landscape-Table-table-header .Landscape-Table-table-cell {
  color: rgb(140, 140, 140);
}

.Landscape-dark .Landscape-Table-table-body .Landscape-Table-table-row {
  border-bottom-color: rgba(70, 70, 70, 0.5);
  border-top-color: rgba(70, 70, 70, 0.5);
}

.Landscape-dark .Landscape-Table-table-body .Landscape-Table-table-row:nth-child(odd) {
  background-color: rgba(220, 220, 220, 0.05);
}

.Landscape-dark .Landscape-Table-table-body .Landscape-Table-table-row:hover {
  background-image:
    linear-gradient(
      rgba(24, 42, 55, 0.42) 20%,
      rgba(24, 42, 55, 0.4) 40%,
      rgba(24, 42, 55, 0.4) 60%,
      rgba(24, 42, 55, 0.42) 80%
    ),
    linear-gradient(
      135deg,
      rgba(0, 24, 0, 0.01) 20%,
      rgba(0, 22, 0, 0.02),
      rgba(0, 24, 0, 0.01) 80%
    ),
    linear-gradient(
      45deg,
      rgba(0, 0, 24, 0.01) 20%,
      rgba(0, 0, 22, 0.02),
      rgba(0, 0, 24, 0.01) 80%
    )
  ;
}

.Landscape-dark .Landscape-Table-table-header .Landscape-Table-table-row {
  background-color: rgba(100, 100, 100, 0.05);
}


/* .Landscape-Window */

.Landscape-dark.Landscape-Window.Landscape-moving {
  outline-color: rgba(60, 6, 72, 0.5);
 }

.Landscape-dark .Landscape-Window-title-bar-button:active,
.Landscape-dark .Landscape-Window-title-bar-button.Landscape-active {
  background-color: rgba(20, 20, 20, 0.95);
  color: rgb(100, 10, 120);
  text-shadow: 0.02em 0.02em rgba(80, 80, 80, 0.5);
}

.Landscape-dark .Landscape-Window:hover .Landscape-Window-status-indicator {
  background-color: rgba(150, 150, 150, 0.5);
}

.Landscape-dark .Landscape-Window:focus .Landscape-Window-status-indicator {
  background-color: rgba(60, 6, 72, 0.95);
}

.Landscape-dark .Landscape-Window-title-bar {
  background-color: rgba(30, 30, 30, 0.9);
  background-image: linear-gradient(
    rgba(8, 8, 8, 0.5),
    rgba(8, 8, 8, 0.25) 20%,
    rgba(8, 8, 8, 0.125) 40%,
    transparent 60%
  );
  color: rgb(150, 150, 150);
}